@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
}
html {
  font-size: 16px;
  display: flex;
}
body {
  font-family: "Josefin Sans";
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    35deg,
    rgba(248, 191, 191, 0.1) 0%,
    rgba(243, 165, 165, 0.052) 50%,
    rgba(238, 140, 140, 0.09) 100%
  );
}
html,
body {
  width: 100%;
  height: auto;
}
.main-page {
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: fit-content;
  background-position: center;
  background: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}
.text-container {
  width: 60%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.text-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.website-logo {
  margin-bottom: 2rem;
}
.mobile-img {
  display: none;
  transition: 0.3s all ease-in-out;
}
.header {
  font-size: 4rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.we {
  color: var(--Desaturated-Red);
  font-weight: 200;
}
.paragraph {
  color: var(--Desaturated-Red);
  font-weight: 300;
}
.form-field {
  position: relative;
  width: 100%;
}
.email-field {
  width: 100%;
  border-radius: 50px;
  border: 0.3px solid var(--Desaturated-Red);
  padding: 0.5rem 10.5rem 0.5rem 1.5rem;
  min-height: 48px;
  background: none;
  font-size: 0.65rem;
  margin-bottom: 1rem;
}
.email-background-img {
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: center;
}
.email-field::placeholder {
  color: var(--Desaturated-Red);
}
.email-field:focus {
  border: 0.3px solid var(--Desaturated-Red);
  outline: none;
}
.btn {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  width: 7rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 48px;
}
.btn:hover,
.btn:active {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 15px 25px hsla(0, 43%, 76%, 0.483);
}
.arrow {
  width: 0.5rem;
}
.error-message {
  color: red;
  font-size: 0.7rem;
  margin-left: 1.5rem;
}
.image-container {
  background: url(images/hero-desktop.jpg);
  width: 40%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1501px) {
  html,
  body {
    height: 100%;
  }
}

@media screen and (max-width: 1176px) {
  .email-background-img {
    background-position-x: 65%;
  }
}

@media screen and (max-width: 1084px) {
  .email-background-img {
    background-position-x: 60%;
  }
}

@media screen and (max-width: 857px) {
  .email-background-img {
    background-position-x: 57%;
  }
}
@media screen and (max-width: 950px) {
  .text-content {
    width: 75%;
  }
  .header,
  .paragraph {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .image-container {
    display: none;
  }
  .text-container {
    width: 100%;
    padding: 1.5rem 0;
  }
  .text-content {
    display: block;
    width: 100%;
  }
  .mobile-img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
  }
  .logo-container,
  .header,
  .paragraph {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
  .form-field {
    width: 80%;
    margin: 0 auto;
    max-width: 340px;
    /* margin-left: -47.996px; */
  }
  .email-field {
    padding-right: 9rem;
  }
  .btn {
    width: 6rem;
  }
  .email-background-img {
    background-position-x: 67%;
  }
}

@media screen and (max-width: 725px) {
  .header {
    font-size: 2rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 400px) {
  .email-background-img {
    background-position-x: 63%;
  }
}
@media screen and (max-width: 350px) {
  .btn {
    width: 5rem;
  }
  .email-field {
    padding-right: 7.9rem;
  }
}
